.blog_img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.blog_card {
    display: flex;
    flex-direction: column;
    width: clamp(18rem, calc(18rem + 2vw), 22rem);
    overflow: hidden;
    border-radius: 1em;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.blog_card_body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.blog_tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
    background: #39FF14;
    color: black;
    font-weight: 600;
}

.blog_card_body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.blog_card_body p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog_card_footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.blog_user {
    display: flex;
    gap: .5rem;
}

.blog_user_image {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.blog_user_info h5 {
    margin-bottom: 0rem;
}

.blog_user_info>small {
    color: #666;
}